/* 
SPACING:
.5rem | 1rem | 1.25rem | 2rem | 3rem | 10rem
*/

:root {
    --primary-black: #0F172B;
    --primary-blue: #2B7FFF;
    --primary-purple: #5655FF;
    --text-gray: #8E8DA5;
    --card-bg: #1A2332;
    --aura: #1D28EC;
    --grid: #161B28;
    --card-text: #86899C;
}

html {
    font-size: 100%;
    font-family: "Mona Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    background-color: white;
    font-size: 1.25rem;
    color: var(--text-gray);
    background-color: var(--primary-black);
}

main {
    background-color: var(--primary-black);
}

.inner-container {
    padding: clamp(1rem, 0.25rem + 3.75vw, 4rem);
    max-width: 2000px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/********* HEADINGS **********/
.hero h1,
.hero h2 {
    font-size: clamp(2.5rem, 2rem + 2.5vw, 4.5rem);
    color: #ebe5e5;
    color: #fff;

    color: #f1ebeb;

    line-height: 115%;
    font-weight: bold;
}

h2 {
    font-size: clamp(2.0625rem, 1.9029rem + 0.7979vw, 3rem);
    color: #fff;
      color: #f1ebeb;
    // font-size: 33px;
    font-weight: bold;
    line-height: 115%;
}

h3 {
    color: #fff;
      color: #f1ebeb;
    font-size: 24px;
    line-height: 115%;
}