footer {
    position: relative;
background-color: white;
background-color: var(--primary-black);
padding-bottom: 2rem;
}

footer p {
    margin: .5rem 0 1.25rem 0;
}

footer p:last-of-type {
    color: #fff;
}

footer .grid-container {
    position: relative;
    z-index: 1;
   padding: 8rem 0;
    margin-bottom: 10rem;
}

.aura-container {
    position: relative;
    overflow: hidden;
}

footer .chat-now {
    color: #fff;
    background-color: var(--primary-purple);
    padding: .35rem 1rem;
    border-radius: 7px;
    margin-right: 1rem;
}

.github {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* footer grid */
.grid-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
        linear-gradient(to right, var(--grid) 3px, transparent 1px),
        linear-gradient(to bottom, var(--grid) 3px, transparent 1px);
    background-size: 70px 70px;
    z-index: -22;
}

footer hr {
    border: none;
    border-top: 3px solid var(--grid);
}

@media (width >= 735px) {
    footer .inner-container {
    text-align: center;
}
}