footer {
    overflow: hidden;
}

footer>div {
    padding-top: 15rem;
}

footer p {
    margin: .5rem 0 1.25rem 0;
}

footer p:last-of-type {
    color: #fff;
}

footer .grid-container {
    position: relative;
    z-index: 1;
    padding: 8rem 0 4rem 0;
    margin-bottom: 10rem;
}

.aura-container {
    position: relative;
}

.github {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer hr {
    border: none;
    border-top: 3px solid var(--grid);
}

@media (width >=735px) {
    footer .content-container {
        text-align: center;
    }
}

.grid-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
        linear-gradient(to right, var(--grid) 3px, transparent 1px),
        linear-gradient(to bottom, var(--grid) 3px, transparent 1px);
    background-size: 70px 70px;
    z-index: -22;
    margin: 0 -10rem;
}

@media (width > 540px) {

    /* footer grid */
    .grid-container::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image:
            linear-gradient(to right, var(--grid) 3px, transparent 1px),
            linear-gradient(to bottom, var(--grid) 3px, transparent 1px);
        background-size: 100px 100px;
        z-index: -22;
        margin: 0 -10rem;
    }
}

@media (width > 750px) {
    .grid-container::before {
        background-size: 130px 130px;
    }
}

@media (width > 920px) {
    .grid-container::before {
        background-size: 160px 160px;
    }
}

@media (width > 1200px) {
    .grid-container::before {
        background-size: 190px 190px;
    }
}

@media (width > 1300px) {
    .grid-container::before {
        background-size: 240px 240px;
    }
}