footer {
    position: relative;
background-color: white;

}

footer .inner-container {
    background-color: var(--primary-black);
}

footer p {
    margin: .5rem 0 1rem 0;
}

footer p:last-of-type {
    color: #fff;
}

footer button:last-of-type {
    /* margin-bottom: 12rem; */
}

.grid-container {
    position: relative;
    z-index: 1;
    padding-top: 5rem;
    padding-bottom: 4rem;
    margin-bottom: 10rem;
}

.aura-container {
    position: relative;
    overflow: hidden;
}

footer .chat-now {
    color: #fff;
    background-color: var(--primary-purple);
    padding: .35rem 1rem;
    border-radius: 7px;
    margin-right: 1rem;
}

.github {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

/* footer grid */
.grid-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
        linear-gradient(to right, var(--grid) 3px, transparent 1px),
        linear-gradient(to bottom, var(--grid) 3px, transparent 1px);
    background-size: 70px 70px;
    z-index: -22;
}

footer hr {
    border: none;
    border-top: 3px solid var(--grid);
}