header {
    background-color: var(--primary-black);
}

.hero {
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding-bottom: clamp(3rem, -0.2542rem + 16.2712vw, 15rem);
}

.hero .span4 {
    display: block;
}

.hero img {
    margin: 0rem 0 1rem 0;
    /* width: 100px; */
    /* width: 65px; */
    width: clamp(4.0625rem, 3.267rem + 3.9773vw, 6.25rem);
    height: auto;
}

.hero h1 {
    margin-bottom: 3rem;
}

.hero h2 {
    margin-bottom: 1rem;
}

.hero p {
    margin-bottom: 1.5rem;
    max-width: 60ch;
}

/* hero buttons */
.chat-now {
    color: #fff;
    background-color: var(--primary-purple);
    padding: .6rem 1rem;
    border-radius: 7px;
    margin-right: 1rem;
}

.learn-more {
    color: #fff;
}

/* hero grid */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
        linear-gradient(to right, var(--grid) 3px, transparent 1px),
        linear-gradient(to bottom, var(--grid) 3px, transparent 1px);
    background-size: 70px 70px;
    z-index: -3;
}

/******************** HERO IMAGE/GRID MEDIA QUERIES ********************/

.hero::after {
    content: "";
    position: absolute;
    top: 2rem;
    right: -10rem;
    background-image: url('../img/desktop-images/desktop-chatbox.svg');
    z-index: 3;
    width: 285px;
    height: 285px;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (width >=370px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 2rem;
        right: -8rem;
        background-image: url('../img/desktop-images/desktop-chatbox.svg');
        z-index: 3;
        width: 295px;
        height: 295px;
        background-repeat: no-repeat;
    }
}


@media (width >=420px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 2rem;
        right: -6rem;
        background-image: url('../img/desktop-images/desktop-chatbox.svg');
        z-index: 3;
        width: 300px;
        height: 300px;
        background-repeat: no-repeat;
    }
}


@media (width >=450px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 2rem;
        right: -6rem;
        background-image: url('../img/desktop-images/desktop-chatbox.svg');
        z-index: 3;
        width: 320px;
        height: 320px;
        background-repeat: no-repeat;
    }
}

@media (width >=500px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 2rem;
        right: -3rem;
        background-image: url('../img/desktop-images/desktop-chatbox.svg');
        z-index: 3;
        width: 320px;
        height: 320px;
        background-repeat: no-repeat;
    }
}

@media (width >=550px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 7rem;
        right: -27rem;
        background-image: url('../img/desktop-images/desktop-chatbox.svg');
        z-index: 3;
        width: 600px;
        height: 600px;
        background-repeat: no-repeat;
    }

    .hero {
        padding-top: 4.5rem;
    }

    .hero h2 {
        max-width: 14ch;
    }

    .hero .span4 {
        display: inline;
    }

    .hero h1 {
        margin-bottom: unset;
    }

    .hero p {
        max-width: 28ch;
    }

    .hero img {
        // margin-top: unset;
        margin-bottom: 2rem;
    }

    /* hero grid */
    .hero::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image:
            linear-gradient(to right, var(--grid) 3px, transparent 1px),
            linear-gradient(to bottom, var(--grid) 3px, transparent 1px);
        background-size: 100px 100px;
        z-index: -3;
    }
}

@media (width >=600px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 7rem;
        right: -27rem;
        background-image: url('../img/desktop-images/desktop-chatbox.svg');
        z-index: 3;
        width: 620px;
        height: 620px;
        background-repeat: no-repeat;
    }

    .hero p {
        max-width: 32ch;
    }
}

@media (width >=630px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 7rem;
        right: -27rem;
        background-image: url('../img/desktop-images/desktop-chatbox.svg');
        z-index: 3;
        width: 640px;
        height: 640px;
        background-repeat: no-repeat;
    }

    .hero p {
        max-width: 32ch;
    }
}

@media (width >=680px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 7rem;
        right: -26rem;
 background-image: url('../img/desktop-images/desktop-chatbox.svg');        z-index: 3;
        width: 660px;
        height: 660px;
        background-repeat: no-repeat;
    }
}

@media (width >=750px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 7rem;
        right: -23rem;
 background-image: url('../img/desktop-images/desktop-chatbox.svg');        z-index: 3;
        width: 680px;
        height: 680px;
        background-repeat: no-repeat;
    }

    /* hero grid */
    .hero::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image:
            linear-gradient(to right, var(--grid) 3px, transparent 1px),
            linear-gradient(to bottom, var(--grid) 3px, transparent 1px);
        background-size: 130px 130px;
        z-index: -3;
    }

}

@media (width >=840px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 7rem;
        right: -24rem;
 background-image: url('../img/desktop-images/desktop-chatbox.svg');        z-index: 3;
        width: 700px;
        height: 700px;
        background-repeat: no-repeat;
    }

    .hero p {
        max-width: 40ch;
    }

}


@media (width >=920px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 7rem;
        right: -24rem;
 background-image: url('../img/desktop-images/desktop-chatbox.svg');        z-index: 3;
        width: 720px;
        height: 720px;
        background-repeat: no-repeat;
    }

    .hero h2 {
        max-width: 20ch;
    }

    .hero p {
        max-width: 40ch;
    }

    .hero::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image:
            linear-gradient(to right, var(--grid) 3px, transparent 1px),
            linear-gradient(to bottom, var(--grid) 3px, transparent 1px);
        background-size: 160px 160px;
        z-index: -3;
    }
}

@media (width >=1000px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 5rem;
        right: -28rem;
 background-image: url('../img/desktop-images/desktop-chatbox.svg');        z-index: 3;
        width: 800px;
        height: 800px;
        background-repeat: no-repeat;
    }

    .hero h2 {
        max-width: 20ch;
    }

    .hero p {
        max-width: 45ch;
    }
}

@media (width >=1100px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 5rem;
        right: -24rem;
 background-image: url('../img/desktop-images/desktop-chatbox.svg');        z-index: 3;
        width: 820px;
        height: 820px;
        background-repeat: no-repeat;
    }

    .hero::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image:
            linear-gradient(to right, var(--grid) 3px, transparent 1px),
            linear-gradient(to bottom, var(--grid) 3px, transparent 1px);
        background-size: 190px 190px;
        z-index: -3;
    }

}

@media (width >=1200px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 5rem;
        right: -23rem;
 background-image: url('../img/desktop-images/desktop-chatbox.svg');        z-index: 3;
        width: 840px;
        height: 840px;
        background-repeat: no-repeat;
    }

    .hero::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image:
            linear-gradient(to right, var(--grid) 3px, transparent 1px),
            linear-gradient(to bottom, var(--grid) 3px, transparent 1px);
        background-size: 190px 190px;
        z-index: -3;
    }

}

@media (width >=1300px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 5rem;
        right: -18rem;
 background-image: url('../img/desktop-images/desktop-chatbox.svg');        z-index: 3;
        width: 860px;
        height: 860px;
        background-repeat: no-repeat;
    }

    .hero::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image:
            linear-gradient(to right, var(--grid) 3px, transparent 1px),
            linear-gradient(to bottom, var(--grid) 3px, transparent 1px);
        background-size: 240px 240px;
        z-index: -3;
    }
}

@media (width >=1400px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 4.5rem;
        right: -15rem;
 background-image: url('../img/desktop-images/desktop-chatbox.svg');        z-index: 3;
        width: 860px;
        height: 860px;
        background-repeat: no-repeat;
    }

    .hero p {
        max-width: 58ch;
    }

}

@media (width >=1500px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 5rem;
        right: -10rem;
 background-image: url('../img/desktop-images/desktop-chatbox.svg');        z-index: 3;
        width: 860px;
        height: 860px;
        background-repeat: no-repeat;
    }

}

@media (width >=1650px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 5rem;
        right: -5rem;
 background-image: url('../img/desktop-images/desktop-chatbox.svg');        z-index: 3;
        width: 860px;
        height: 860px;
        background-repeat: no-repeat;
    }

}

@media (width >=1750px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 5rem;
        right: -2rem;
 background-image: url('../img/desktop-images/desktop-chatbox.svg');        z-index: 3;
        width: 860px;
        height: 860px;
        background-repeat: no-repeat;
    }

}


@media (width >=1850px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 5rem;
        right: -1rem;
 background-image: url('../img/desktop-images/desktop-chatbox.svg');        z-index: 3;
        width: 1000px;
        height: 1000px;
        background-repeat: no-repeat;
    }

}