.responsive-by-design {
    margin-bottom: 10rem;
}

.responsive {
    margin-bottom: 12rem;
}

.responsive-by-design .desktop-view p {
    margin: .5rem 0 1rem 0;
}

.responsive-by-design .mobile-view p {
    margin: .5rem 0 .5rem 0;

}

.arrow-container {
    display: flex;
    margin: 1rem 0 2rem 0;
    justify-content: center;
}

@media (width >= 850px) {
    .responsive-by-design .desktop-view .flex-container {
        display: flex;
        flex-direction: row-reverse;
        gap: 3rem;
    }

    .responsive-by-design .desktop-view .flex-container div:nth-of-type(2) {
        width: 60%;
    }

    .responsive-by-design .desktop-view .flex-container div:nth-of-type(1) {
        width: 40%;
    }

    .responsive {
        margin-bottom: 2.5rem;
    }

    .responsive p {
    max-width: 50ch;
}

.arrow-container {
    display: none;
}

.desktop-view {
    margin-bottom: 10rem;
}
}

@media (width > 1050px) {
    .responsive-by-design .desktop-view .flex-container {
        align-items: center;
    }
}

@media (width > 1200px) {
    .responsive-by-design .desktop-view .flex-container {
        gap: 4rem;
    }
}

@media (width >= 1300px) {
    .responsive-by-design .desktop-view .flex-container {
        display: flex;
        flex-direction: row-reverse;
        gap: 3rem;
    }

    .responsive-by-design .desktop-view .flex-container div:nth-of-type(2) {
        width: 60%;
    }

    .responsive-by-design .desktop-view .flex-container div:nth-of-type(1) {
        width: 40%;
    }

    .responsive {
        margin-bottom: 2.5rem;
    }

    .responsive p {
    max-width: 50ch;
}
}