.responsive-by-design {
    margin-bottom: 10rem;
}

.responsive {
    margin-bottom: 12rem;
}

.responsive-by-design .desktop-view p {
    margin: .5rem 0 1rem 0;
}

.responsive-by-design .mobile-view p {
    margin: .5rem 0 1rem 0;
    max-width: 70ch;
}

.mobile-view-div {
    display: flex;
    justify-content: center;
}

.mobile-view-div img {
    min-width: 0;
    max-width: 371px;
}

.arrow-container {
    display: flex;
    margin: 1rem 0 2rem 0;
    justify-content: center;
}

@media (width >=850px) {
    .responsive-by-design .desktop-view .flex-container {
        display: flex;
        flex-direction: row-reverse;
        gap: 3rem;
    }

    .responsive-by-design {
        margin-bottom: 25rem;
    }

    .responsive-by-design .desktop-view .flex-container div:nth-of-type(2) {
        width: 60%;
    }

    .responsive-by-design .desktop-view .flex-container div:nth-of-type(1) {
        width: 40%;
    }

    .responsive {
        margin-bottom: 2.5rem;
    }

    .responsive p {
        max-width: 50ch;
    }

    .arrow-container {
        display: none;
    }

    .desktop-view {
        margin-bottom: 25rem;
    }

    .mobile-view {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .mobile-view div:nth-of-type(1) {
        width: 60%;
    }

    .mobile-view div:nth-of-type(2) {
        width: 40%;
        max-width: 35rem;
    }

    .mobile-view-div img {
        min-width: 0;
        max-width: unset;
    }
}

@media (width > 1050px) {
    .responsive-by-design .desktop-view .flex-container {
        align-items: center;
    }
}

@media (width > 1200px) {
    .responsive-by-design .desktop-view .flex-container {
        gap: 4rem;
    }
}

@media (width >=1300px) {
    .responsive-by-design .desktop-view .flex-container {
        display: flex;
        flex-direction: row-reverse;
        gap: 3rem;
    }

    .responsive-by-design .desktop-view .flex-container div:nth-of-type(2) {
        width: 50%;
    }

    .responsive-by-design .desktop-view .flex-container div:nth-of-type(1) {
        width: 50%;
    }

    .responsive {
        margin-bottom: 2.5rem;
    }

    .responsive p {
        max-width: 50ch;
    }

    .mobile-view div:nth-of-type(1) {
        width: unset;
    }

    .mobile-view div:nth-of-type(2) {
        width: unset;
        max-width: 30rem;
    }
}