/* 
SPACING:
.5rem | 1rem | 1.25rem | 2rem | 3rem | 10rem
*/

:root {
    --primary-black: #0F172B;
    --primary-blue: #2B7FFF;
    --primary-purple: #5655FF;
    --text-gray: #8E8DA5;
    --card-bg: #1A2332;
    --aura: #1D28EC;
    --grid: #161B28;
}

/* Global styling */

html {
    font-size: 100%;
    font-family: "Inter", sans-serif;
}

body {
    line-height: 1.5;
    background-color: var(--primary-black);
    font-size: 1.25rem;
    color: var(--text-gray);
}

.inner-container {
    padding: 1rem;

}

.flex {
    display: flex;
}

/********* HEADINGS **********/
.hero h1,
.hero h2 {
    font-size: clamp(2.5rem, 1.6795rem + 4.1026vw, 4.5rem);
    color: #ebe5e5;
    color: #dacfcf;
    line-height: 115%;
    font-weight: bold;
}

h2 {
    font-size: 2.0625rem;
    color: #fff;
    font-size: bold;
     line-height: 115%;
}

h3 {
    color: #fff;
    font-size: clamp(1.6875rem, 1.5593rem + 0.641vw, 2rem);
     line-height: 115%;
}

/*************** Design Auras *************/
.aura {
    position: absolute;
    width: 300px;
    height: 300px;
    top: -2rem;
    left: 1rem;
    background: radial-gradient(circle,
            rgba(29, 40, 236, 0.8) 0%,
            rgba(29, 40, 236, 0) 70%
        );
    filter: blur(10px);
    opacity: .3;
    z-index: -3;
}

.aura-2 {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 10rem;
    left: -5rem;
    background: radial-gradient(circle,
            rgba(29, 40, 236, 0.8) 0%,
            rgba(29, 40, 236, 0) 70%
        );
    filter: blur(10px);
    opacity: .3;
    z-index: -3;
}

.aura-3 {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 14rem;
    left: 9rem;
    background: radial-gradient(circle,
            rgba(29, 40, 236, 0.8) 0%,
            rgba(29, 40, 236, 0) 70%
        );
    filter: blur(10px);
    opacity: .3;
    z-index: -3;
}

/*************** Hero/Header Section *************/
.hero {
    position: relative;
    overflow: hidden;
    margin-bottom: 10rem;
    z-index: 1;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
        linear-gradient(to right, var(--grid) 3px, transparent 1px),
        linear-gradient(to bottom, var(--grid) 3px, transparent 1px);
    background-size: 70px 70px;
    z-index: -3;
}

.hero::after {
    content: "";
    position: absolute;
    top: 2rem;
    right: -11.5rem;
    background-image: url('../img/mobile-images/desktop-view.svg');
    z-index: 3;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;

}

.hero img {
    margin: 3rem 0 1rem 0;
}

.hero h1 {
    margin-bottom: 3rem;
}

.hero h2 {
    margin-bottom: 1rem;
}

.hero p {
    margin-bottom: 1.25rem;
}

.hero span {
    display: block;
}

.chat-now {
    color: #fff;
    background-color: var(--primary-purple);
    padding: .35rem 1rem;
    border-radius: 7px;
    margin-right: 1rem;
}

.learn-more {
    color: #fff;
}

@media (min-width: 1024px) {
    .hero {
        background-size: 120px 120px;
        /* Larger grid for desktop */
    }
}










/*************** Responsive by design Section *************/
.responsive-by-design {
    margin-bottom: 10rem;
}

.responsive {
    margin-bottom: 10rem;
}

.responsive-by-design div p {
    margin: .5rem 0 1rem 0;
}

.arrow-container {
    display: flex;
    margin: 1rem 0 2rem 0;
    justify-content: center;
}









/*************** Tech Stack Section *************/
.tech-stack {
    margin-bottom: 10rem;
}

.tech-stack > p {
    margin-bottom: 2rem;
}

.tech-stack .card {
    background-color: var(--card-bg);
    border-radius: 40px;
    margin-bottom: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.tech-stack-card-icon {
    width: clamp(5rem, 4.4872rem + 2.5641vw, 6.25rem);
}









/*************** Footer Section *************/
footer hr {
border: none;
border-top: 2px solid var(--grid);
margin: 0 -1rem;
}

footer p {
    margin: .5rem 0 1rem 0;
}

footer p:last-of-type {
    color: #fff;
}

footer button:last-of-type {
    margin-bottom: 10rem;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}