@use 'base/reset';
@use 'base/base';
@use 'base/typography';
@use 'layout/landing-page/header';
@use 'components/design-auras';
@use 'components/buttons-js-components';
@use 'layout/landing-page/responsive-section';
@use 'layout/landing-page/tech-stack';
@use 'layout/landing-page/footer';
@use 'layout/chatbot-page/header-chat';
@use 'layout/chatbot-page/chat-area';
@use 'layout/chatbot-page/footer-chat';

