/* 
SPACING:
.5rem | 1rem | 1.25rem | 2rem | 3rem | 10rem
*/

:root {
    --primary-black: #0F172B;
    --primary-blue: #2B7FFF;
    --primary-purple: #5655FF;
    --text-gray: #8E8DA5;
    --card-bg: #1A2332;
    --aura: #1D28EC;
    --grid: #161B28;
}

/* Global styling */

html {
    font-size: 100%;
    font-family: "Inter", sans-serif;
}

body {
    line-height: 1.5;
    background-color: white;
    font-size: 1.25rem;
    color: var(--text-gray);
}

header {
 background-color: var(--primary-black);
}

main {
 background-color: var(--primary-black);
}

.inner-container {
  padding:  clamp(1rem, 0.4286rem + 2.8571vw, 4rem);
  /* padding: 4rem; */
  max-width: 2000px;
  margin: 0 auto;

}

.flex {
    display: flex;
}

/********* HEADINGS **********/
.hero h1,
.hero h2 {
    font-size: clamp(2.5rem, 2rem + 2.5vw, 4.5rem);
    color: #ebe5e5;
    color: #dacfcf;
    line-height: 115%;
    font-weight: bold;
}

h2 {
    font-size: 2.0625rem;
    color: #fff;
    font-weight: bold;
    line-height: 115%;
}

h3 {
    color: #fff;
    font-size: clamp(1.6875rem, 1.5593rem + 0.641vw, 2rem);
    line-height: 115%;
}

/*************** Design Auras *************/
.aura {
    position: absolute;
    width: 300px;
    height: 300px;
    top: -2rem;
    left: 1rem;
    background: radial-gradient(circle,
            rgba(29, 40, 236, 0.8) 0%,
            rgba(29, 40, 236, 0) 70%);
    filter: blur(10px);
    opacity: .3;
    z-index: -3;
}

.aura-2 {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 10rem;
    left: -5rem;
    background: radial-gradient(circle,
            rgba(29, 40, 236, 0.8) 0%,
            rgba(29, 40, 236, 0) 70%);
    filter: blur(10px);
    opacity: .3;
    z-index: -3;
}

.aura-3 {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 14rem;
    left: 9rem;
    background: radial-gradient(circle,
            rgba(29, 40, 236, 0.8) 0%,
            rgba(29, 40, 236, 0) 70%);
    filter: blur(10px);
    opacity: .3;
    z-index: -3;
}

/*************** Hero/Header Section *************/

.hero {
    position: relative;
    overflow: hidden;
    padding-bottom: 10rem;
    z-index: 1;
    padding-bottom: clamp(3rem, -0.2542rem + 16.2712vw, 15rem);
}

.hero .span4 {
    display: block;
}

.hero img {
    margin: 3rem 0 1rem 0;
}

.hero h1 {
    margin-bottom: 3rem;
}

.hero h2 {
    margin-bottom: 1rem;
}

.hero p {
    margin-bottom: 1.25rem;
    max-width: 60ch;
}

/* hero buttons */
.chat-now {
    color: #fff;
    background-color: var(--primary-purple);
    padding: .35rem 1rem;
    border-radius: 7px;
    margin-right: 1rem;
}

.learn-more {
    color: #fff;
}

/* hero grid */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
        linear-gradient(to right, var(--grid) 3px, transparent 1px),
        linear-gradient(to bottom, var(--grid) 3px, transparent 1px);
    background-size: 70px 70px;
    z-index: -3;
}

/* hero image */
.hero::after {
    content: "";
    position: absolute;
    top: 2rem;
    right: -14rem;
    background-image: url('../img/mobile-images/desktop-view.svg');
    z-index: 3;
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (width >=370px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 2rem;
        right: -12rem;
        background-image: url('../img/mobile-images/desktop-view.svg');
        z-index: 3;
        width: 375px;
        height: 375px;
        background-repeat: no-repeat;
    }
}

@media (width >=450px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 2rem;
        right: -12rem;
        background-image: url('../img/mobile-images/desktop-view.svg');
        z-index: 3;
        width: 375px;
        height: 375px;
        background-repeat: no-repeat;
    }
}

@media (width >=500px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 2rem;
        right: -7rem;
        background-image: url('../img/mobile-images/desktop-view.svg');
        z-index: 3;
        width: 375px;
        height: 375px;
        background-repeat: no-repeat;
    }
}

@media (width >=550px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 5rem;
        right: -27rem;
        background-image: url('../img/mobile-images/desktop-view.svg');
        z-index: 3;
        width: 600px;
        height: 600px;
        background-repeat: no-repeat;
    }

    .hero h2 {
        max-width:14ch;
    }

    .hero .span4 {
        display: inline;
    }

    .hero h1 {
        margin-bottom: unset;
    }

    .hero p {
        max-width: 28ch;
    }

    .hero img {
        margin-top: unset;
    }

    /* hero grid */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
        linear-gradient(to right, var(--grid) 3px, transparent 1px),
        linear-gradient(to bottom, var(--grid) 3px, transparent 1px);
    background-size: 100px 100px;
    z-index: -3;
}
}

@media (width >=600px) {
     .hero::after {
        content: "";
        position: absolute;
        top: 5rem;
        right: -27rem;
        background-image: url('../img/mobile-images/desktop-view.svg');
        z-index: 3;
        width: 620px;
        height: 620px;
        background-repeat: no-repeat;
    }

    .hero p {
        max-width: 32ch;
    }
}

@media (width >=630px) {
     .hero::after {
        content: "";
        position: absolute;
        top: 5rem;
        right: -27rem;
        background-image: url('../img/mobile-images/desktop-view.svg');
        z-index: 3;
        width: 640px;
        height: 640px;
        background-repeat: no-repeat;
    }

    .hero p {
        max-width: 32ch;
    }
}

@media (width >=680px) {
     .hero::after {
        content: "";
        position: absolute;
        top: 5rem;
        right: -26rem;
        background-image: url('../img/mobile-images/desktop-view.svg');
        z-index: 3;
        width: 660px;
        height: 660px;
        background-repeat: no-repeat;
    }
}

@media (width >=750px) {
     .hero::after {
        content: "";
        position: absolute;
        top: 5rem;
        right: -23rem;
        background-image: url('../img/mobile-images/desktop-view.svg');
        z-index: 3;
        width: 680px;
        height: 680px;
        background-repeat: no-repeat;
    }

}

@media (width >=840px) {
     .hero::after {
        content: "";
        position: absolute;
        top: 5rem;
        right: -24rem;
        background-image: url('../img/mobile-images/desktop-view.svg');
        z-index: 3;
        width: 700px;
        height: 700px;
        background-repeat: no-repeat;
    }

    .hero p {
        max-width: 40ch;
    }

}


@media (width >=920px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 4rem;
        right: -24rem;
        background-image: url('../img/mobile-images/desktop-view.svg');
        z-index: 3;
        width: 720px;
        height: 720px;
        background-repeat: no-repeat;
    }

    .hero h2 {
        max-width: 20ch;
    }

    .hero p {
        max-width: 45ch;
    }
}

@media (width >=1000px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 4rem;
        right: -24rem;
        background-image: url('../img/mobile-images/desktop-view.svg');
        z-index: 3;
        width: 740px;
        height: 740px;
        background-repeat: no-repeat;
    }

    .hero h2 {
        max-width: 20ch;
    }

    .hero p {
        max-width: 50ch;
    }
}

@media (width >=1100px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 2.5rem;
        right: -21rem;
        background-image: url('../img/mobile-images/desktop-view.svg');
        z-index: 3;
        width: 760px;
        height: 760px;
        background-repeat: no-repeat;
    }

}

@media (width >=1200px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 3rem;
        right: -15rem;
        background-image: url('../img/mobile-images/desktop-view.svg');
        z-index: 3;
        width: 760px;
        height: 760px;
        background-repeat: no-repeat;
    }

}

@media (width >=1300px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 3.25rem;
        right: -10rem;
        background-image: url('../img/mobile-images/desktop-view.svg');
        z-index: 3;
        width: 760px;
        height: 760px;
        background-repeat: no-repeat;
    }

}

@media (width >=1400px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 3.5rem;
        right: -15rem;
        background-image: url('../img/mobile-images/desktop-view.svg');
        z-index: 3;
        width: 800px;
        height: 800px;
        background-repeat: no-repeat;
    }

    .hero p {
        max-width: 58ch;
    }

}

@media (width >=1500px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 3.5rem;
        right: -10rem;
        background-image: url('../img/mobile-images/desktop-view.svg');
        z-index: 3;
        width: 820px;
        height: 820px;
        background-repeat: no-repeat;
    }

}

@media (width >=1650px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 3.5rem;
        right: -5rem;
        background-image: url('../img/mobile-images/desktop-view.svg');
        z-index: 3;
        width: 860px;
        height: 860px;
        background-repeat: no-repeat;
    }

}

@media (width >=1750px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 3.5rem;
        right: -2rem;
        background-image: url('../img/mobile-images/desktop-view.svg');
        z-index: 3;
        width: 860px;
        height: 860px;
        background-repeat: no-repeat;
    }

}


@media (width >=1850px) {
    .hero::after {
        content: "";
        position: absolute;
        top: 3.5rem;
        right: -.75rem;
        background-image: url('../img/mobile-images/desktop-view.svg');
        z-index: 3;
        width: 860px;
        height: 860px;
        background-repeat: no-repeat;
    }

}







@media (min-width: 1024px) {
    .hero {
        background-size: 120px 120px;
        /* Larger grid for desktop */
    }
}










/*************** Responsive by design Section *************/
.responsive-by-design {
    margin-bottom: 9rem;
}

.responsive {
    margin-bottom: 12rem;
}

.responsive-by-design .desktop-view p {
    margin: .5rem 0 1rem 0;
}

.responsive-by-design .mobile-view p {
    margin: .5rem 0 .5rem 0;

}

.arrow-container {
    display: flex;
    margin: 1rem 0 2rem 0;
    justify-content: center;
}









/*************** Tech Stack Section *************/
.tech-stack {
    margin-bottom: 8rem;
}

.tech-stack>p {
    margin-bottom: 2rem;
}

.tech-stack .card {
    background-color: var(--card-bg);
    border-radius: 40px;
    margin-bottom: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.tech-stack-card-icon {
    width: clamp(5rem, 4.4872rem + 2.5641vw, 6.25rem);
}









/*************** Footer Section *************/
footer {
    position: relative;
background-color: white;

}

footer .inner-container {
    background-color: var(--primary-black);
}

footer p {
    margin: .5rem 0 1rem 0;
}

footer p:last-of-type {
    color: #fff;
}

footer button:last-of-type {
    /* margin-bottom: 12rem; */
}

.grid-container {
    position: relative;

    z-index: 1;
    padding-top: 5rem;
    padding-bottom: 4rem;
    margin-bottom: 10rem;
}

.aura-container {
    position: relative;
    overflow: hidden;
}

footer .chat-now {
    color: #fff;
    background-color: var(--primary-purple);
    padding: .35rem 1rem;
    border-radius: 7px;
    margin-right: 1rem;
}

.github {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

/* footer grid */
.grid-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
        linear-gradient(to right, var(--grid) 3px, transparent 1px),
        linear-gradient(to bottom, var(--grid) 3px, transparent 1px);
    background-size: 70px 70px;
    z-index: -22;
}


/* footer auras */
.footer-aura {
    position: absolute;
    width: 300px;
    height: 300px;
    left: -4rem;
    background: radial-gradient(circle,
            rgba(29, 40, 236, 0.8) 0%,
            rgba(29, 40, 236, 0) 70%);
    filter: blur(10px);
    opacity: .3;
    z-index: 2;
}

.footer-aura-1 {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 8rem;
    background: radial-gradient(circle,
            rgba(29, 40, 236, 0.8) 0%,
            rgba(29, 40, 236, 0) 70%);
    filter: blur(30px);
    opacity: .3;
    z-index: 2;
    padding-top: 22rem;
}

.footer-aura-2 {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 17rem;
    left: 9rem;
    background: radial-gradient(circle,
            rgba(29, 40, 236, 0.8) 0%,
            rgba(29, 40, 236, 0) 70%);
    filter: blur(40px);
    opacity: .6;
    z-index: 2;
}


.footer-aura-3 {
    position: absolute;
    width: 300px;
    height: 300px;
    margin-top: 13rem;
    left: -4rem;
    background: radial-gradient(circle,
            rgba(29, 40, 236, 0.8) 0%,
            rgba(29, 40, 236, 0) 70%);
    filter: blur(30px);
    opacity: .3;
    z-index: 2;
}

footer hr {
    border: none;
    border-top: 3px solid var(--grid);
}