/* hero buttons */
.chat-now {
    color: white;
    width: 100%;
    padding: 1rem;
    border-radius: 30px;
    background-color: #155DFC;
    font-size: 18px;
    max-width: 30rem;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transform: scale(1.02);
        filter: brightness(0.9)
    }
}

.chat-now:hover,
.learn-more:hover {
    cursor: pointer;
}

.learn-more {
    color: #fff;
    border: .1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    padding: 1rem;
    border-radius: 30px;
    font-size: 18px;
    max-width: 30rem;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transform: scale(1.02); 
        filter: brightness(0.9);
        background-color: #2c2a2a72;
    }
}

.landing-page-content footer {
@media (width > 1000px) {
    // .button-container {
    //     display: flex;
    //     gap: 2rem;
    //     button {
    //         flex: 1 1 50%;
    //     }
    //     a {
    //         display: block;
    //         flex: 1 1 50%;
    //     }
    // }
}
}

/* tech stack section card buttons */
.tech-stack .card a {
    color: var(--headings);
    font-size: 14px;
    font-weight: bold;
    background-color: var(--button-background);
    padding: .5rem 2.25rem;
    margin-top: 1rem;
    border-radius: 25px;
}

.online {
    font-weight: bold;
    color: rgb(45, 180, 45);
}

.offline {
    font-weight: bold;
    color: rgb(192, 3, 3);
}

.bold-font {
    font-weight: 500 !important;
}


.user-chat-div {
    display: flex;
    flex-direction: row-reverse;
}


.hidden {
    display: none !important;
}

.chatbot-content .header-dashboard-flex-container {
    nav {
        transform: translateX(-100%);

        @media (width >=1000px) {
            transform: translateX(0);
            transition: 0s;
        }
    }

    .show-nav {
        transform: translateX(0);
    }
}

/* center toggle button hamburger menu */
.toggle-btn {
    display: flex;
}