/* hero buttons */
.chat-now {
    color: #fff;
    background-color: var(--primary-purple);
    padding: .6rem 1rem;
    border-radius: 7px;
    margin-right: 1rem;
}

.chat-now:hover,
.learn-more:hover {
    cursor: pointer;
}

.learn-more {
    color: #fff;
}

/* tech stack section card buttons */
.tech-stack .card a {
    color: var(--headings);
    font-size: 14px;
    font-weight: bold;
    background-color: var(--button-background);
    padding: .5rem 2.25rem;
    margin-top: 1rem;
    border-radius: 25px;
}

.online {
    font-weight: bold;
    color: rgb(45, 180, 45);
}

.offline {
    font-weight: bold;
    color: rgb(192, 3, 3);
}

.bold-font {
    font-weight: 500 !important;
}


.user-chat-div {
    display: flex; 
    flex-direction: row-reverse;
}


.hidden {
    display: none !important;
}

.chatbot-content .header-dashboard-flex-container {
    nav {
        transform: translateX(-100%);

        @media (width >=1000px) {
            transform: translateX(0);
            transition: 0s;
        }
    }

    .show-nav {
        transform: translateX(0);
    }
}

/* center toggle button hamburger menu */
.toggle-btn {
    display: flex;
}