.chatbot-content .chat-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    gap: 1rem;
    font-size: 16px;
    // padding: 1rem;

    .chat-content-div {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        flex-grow: 1;
        width: 100%;
        align-items: center;
        justify-content: center;

        &>.hi-neptune {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;

            p:first-of-type {
                font-size: clamp(1rem, 0.4167rem + 2.9167vw, 1.875rem);
            }

            p:last-of-type {
                font-size: clamp(1rem, 0.9167rem + 0.4167vw, 1.125rem);
            }

            @media (width > 800px) {
                gap: 1rem;
            }

            img {
                width: 80px;
            }

            p {
                color: white;
            }

            p:last-of-type {
                color: var(--menu-gray);
            }
        }

        .recommendation-flex-main-container {
            display: flex;
            flex-direction: column;
            gap: .75rem;

            @media (width >=800px) {
                gap: 1rem;
            }

            @media (width > 1200px) {
                gap: 1.5rem;
            }
        }

        .recommendation-flex-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .75rem;
            width: 100%;

            @media (width >=800px) {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap: 1rem;
            }

            @media (width > 1200px) {
                gap: 1.5rem;
            }

            &>.ai-chat-recommendation {
                display: flex;
                gap: .5rem;
                border: 1px solid var(--chatbot-border);
                border-radius: 14px;
                background-color: var(--chatbot-suggestion-background);
                padding: .5rem;
                width: clamp(18rem, 13.3333rem + 23.3333vw, 25rem);
                cursor: pointer;
                font-size: 12px;

                &:hover,
                &:focus {
                    background-color: rgba(255, 255, 255, 0.03);
                    border-left: 2px solid var(--chatbot-border);
                    border-left-color: var(--primary-purple);
                    padding-left: 12px;
                }

                @media (width >=800px) {
                    width: clamp(20rem, 5rem + 24vw, 32rem);
                }

                img {
                    width: 20px;
                    height: 20px;
                }
            }

            p {
                color: white;
            }

            p:last-of-type {
                color: var(--menu-gray);
            }

            .ai-chat-recommendation {
                background-color: var(--card-bg);
            }
        }

    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--card-bg);
        width: 100%;
        padding: .75rem 1rem;

        form {
            .input-container {
                position: relative;

                button {
                    position: absolute;
                    right: 1rem;
                    top: .625rem;

                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }

            width: 100%;

            input {
                background-color: var(--primary-black);
                height: 50px;
                border-radius: 16px;
                width: 100%;
                padding: 1rem;
                border: 1px solid var(--chatbot-border);

            }
        }

        p {
            margin: unset;
        }
    }
}

.header-chat-area-wrapper {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}