.chatbot-content header {
    .header-container {
        background-color: var(--card-bg);
        display: flex;
        justify-content: space-between;
        height: 5rem;
        max-width: 2000px;
        padding: 0 1rem;
        position: relative;

        .flex {
            gap: 1rem;
        }

        .header-svg1 {
            display: flex;
            gap: 1rem;
            align-items: center;

            img:nth-of-type(1) {
                width: 1.25rem;
            }

            img:nth-of-type(2) {
                width: 1.25rem;
            }

        }

        .svg-2 {
            width: 1.25rem;
        }

        .chatbot-header-text {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-size: 1.15rem;
            }

            p {
                font-weight: 300;
                font-size: 16px;
            }
        }
    }

}

/* toggle menu */
nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--card-bg);
    width: 80%;
    height: 100vh;
    overflow: hidden;
    transition: .4s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .flex {
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 1rem;
        font-size: 16px;

    }

    .menu-header {
        border-bottom: 1px solid var(--chatbot-border);
        color: var(--headings);
        padding: 1.25rem 1rem;
        font-weight: 300;


        button {
            display: flex;
            gap: .5rem;
            align-items: center;
            background-color: var(--primary-purple);
            width: 100%;
            border-radius: 10px;
            padding: 0 1.5rem;
            font-size: 16px;

            span {
                font-size: 25px;
            }
        }
    }

    .nav-content {
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 2rem;

        &::-webkit-scrollbar {
            width: 6px;
            /* slims out the scrollbar */
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.2);
            /* Soft gray */
            border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
            /* Makes it look like it's floating on the menu */
        }

        &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }

        

        .nav-content-div {
            overflow-x: hidden;
            white-space: nowrap;
            font-size: 16px;
            display: flex;

            align-items: flex-start;
            gap: .35rem;
            flex-shrink: 0;



            .chat-title {
                color: var(--headings);
                font-weight: 300;

            }

            .chat-text {
                color: var(--chatbot-darkgray);
            }

            .chat-time {
                color: var(--chatbot-darkgray);
            }
        }
    }

    .nav-footer {
        font-size: 16px;
        padding: 1rem;
        color: var(--chatbot-darkgray);
        border-top: 1px solid var(--chatbot-border);
    }


}