.tech-stack {
    margin-bottom: 8rem;
}

.tech-stack>.tech-header p {
    margin-bottom: 2rem;
}

@media (width >=444px) {
    .tech-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (width >=730px) {
    .tech-header p {
        max-width: 50ch;
        margin-top: .5rem;
    }
}

.tech-stack .card {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.04), transparent 40%);
    background-color: var(--card-bg);
    border-radius: 20px;
    padding: 2rem 2rem 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    text-align: center;
}

.tech-stack .card p {
    color: var(--card-text);
    font-weight: 500;
}

.tech-stack .card h3 {
    margin: 1rem 0 .5rem 0;
}

.tech-stack-card-icon {
    width: 80px;
    height: 80px;
}

.tech-flex1,
.tech-flex2 {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.tech-flex1 .card,
.tech-flex2 .card {
    flex: 0 1 18rem;
}

.tech-flex3 {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;

}