/* 
SPACING:
.5rem | 1rem | 1.25rem | 2rem | 3rem | 10rem
*/

:root {
    --primary-black: #0F172B;
    --button-background: #121724;
    --primary-blue: #2B7FFF;
    --primary-purple: #5655FF;
    --chatbot-border: #314158;
    --chatbot-darkgray: #62748E;
    --chatbot-suggestion-background: rgba(29, 41, 61, 0.5);
    --menu-gray: #90A1B9;
    --text-gray: #8E8DA5;
    --card-bg: #1A2332;
    --aura: #1D28EC;
    --grid: #161B28;
    --chat-dialogue-text: #CAD5E2;
    --card-text: #86899C;
    --headings: #f1ebeb;
    --mona: "Mona Sans", sans-serif;
    --inter: "Inter", sans-serif;

}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-size: 1.25rem;
    color: var(--text-gray);
    background-color: var(--primary-black);
    background-color: black;
    // font-family: var(--inter);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.chatbot-content,
.landing-page-content {
    background-color: var(--primary-black);
    background-color: black;
    // max-width: 2000px;
    margin: 0 auto;

}

.inner-container {
    padding: clamp(1rem, 0.25rem + 3.75vw, 4rem);
    max-width: 2000px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* chatbot dom structure */
.chatbot-content {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}