/********* HEADINGS **********/
.hero h1,
.hero h2 {
    font-size: clamp(3rem, 2rem + 2.5vw, 4.5rem);
   color: var(--headings);
    line-height: 115%;
    font-weight: bold;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

h2 {
    font-size: clamp(2.0625rem, 1.9029rem + 0.7979vw, 3rem);
      color: var(--headings);
    font-weight: bold;
    line-height: 115%;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

h3 {
    color: var(--headings);
    font-size: 24px;
    line-height: 115%;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}