/* 
SPACING:
.5rem | 1rem | 1.25rem | 2rem | 3rem | 10rem
*/

:root {
    --primary-black: #0F172B;
    --button-background: #121724;
    --primary-blue: #2B7FFF;
    --primary-purple: #5655FF;
    --menu-gray: #90A1B9;
    --text-gray: #8E8DA5;
    --card-bg: #1A2332;
    --aura: #1D28EC;
    --grid: #161B28;
    --card-text: #86899C;
    --headings: #f1ebeb;
    --mona: "Mona Sans", sans-serif;
    --inter: "Inter", sans-serif;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    background-color: white;
    font-size: 1.25rem;
    color: var(--text-gray);
    background-color: var(--primary-black);
    font-family: var(--inter);
}

main {
    background-color: var(--primary-black);
}

.inner-container {
    padding: clamp(1rem, 0.25rem + 3.75vw, 4rem);
    max-width: 2000px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* chatbot dom structure */
.chatbot-content {
height: 100dvh;
display: flex;
flex-direction: column;
// justify-content: space-between;
}



