footer {
    position: relative;
    overflow: hidden;
    text-align: center;


    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 60%;
        background: linear-gradient(180deg, #000000 0%, #3532ea81, #000000 100%);
        position: absolute;
        filter: blur(100px);
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

    h2 {
        font-size: 60px;
    }

    h2:nth-of-type(2) {
        background: linear-gradient(90deg, #51A2FF 35%, #C27AFF 50%, #FB64B6 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    >div>div .grid-container>div p {
        color: var(--text-gray);
        font-weight: 200;
    }

    .chat-now {
        margin-bottom: 1rem;
        box-shadow: 0px 10px 15px -3px rgba(255, 255, 255, 0.2), 0px 4px 6px -4px rgba(255, 255, 255, 0.2);
    }

    .button-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

        button {
            width: 100%;
            max-width: 40rem;
            flex: 1;
        }

        a {
            width: 100%;
            max-width: 40rem;
            flex: 1;
        }
    }

    .content-container {
        white-space: normal;
        word-break: normal;
        overflow-wrap: anywhere;
    }
}

/* Container */

// position: absolute;
// width: 1381px;
// height: 808px;
// left: 0px;
// top: 0px;

// background: linear-gradient(180deg, #000000 0%, #162456 50%, #000000 100%);
// border-radius: 0px;


footer>div {
    padding-top: 3rem;
}

footer p {
    margin: 2rem 0;
}

footer p:last-of-type {
    color: #fff;
}

footer .grid-container {
    position: relative;
    z-index: 1;
    padding: 8rem 0 4rem 0;
    margin-bottom: 10rem;
    overflow: visible;
}

.footer-aura {}

.aura-container {
    position: relative;
    overflow: visible;
}

.github {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer hr {
    border: none;
    border-top: 3px solid var(--grid);
}

@media (width >=735px) {
    footer .content-container {
        text-align: center;
    }
}

// .grid-container::before {
//     content: "";
//     position: absolute;
//     inset: 0;
//     background-image:
//         linear-gradient(to right, var(--grid) 3px, transparent 1px),
//         linear-gradient(to bottom, var(--grid) 3px, transparent 1px);
//     background-size: 70px 70px;
//     z-index: -22;
//     margin: 0 -10rem;
// }

// @media (width > 540px) {

//     /* footer grid */
//     .grid-container::before {
//         content: "";
//         position: absolute;
//         inset: 0;
//         background-image:
//             linear-gradient(to right, var(--grid) 3px, transparent 1px),
//             linear-gradient(to bottom, var(--grid) 3px, transparent 1px);
//         background-size: 100px 100px;
//         z-index: -22;
//         margin: 0 -10rem;
//     }
// }

// @media (width > 750px) {
//     .grid-container::before {
//         background-size: 130px 130px;
//     }
// }

// @media (width > 920px) {
//     .grid-container::before {
//         background-size: 160px 160px;
//     }
// }

// @media (width > 1200px) {
//     .grid-container::before {
//         background-size: 190px 190px;
//     }
// }

// @media (width > 1300px) {
//     .grid-container::before {
//         background-size: 240px 240px;
//     }
// }