
/* hero buttons */
.chat-now {
    color: #fff;
    background-color: var(--primary-purple);
    padding: .6rem 1rem;
    border-radius: 7px;
    margin-right: 1rem;
}

.chat-now:hover,
.learn-more:hover {
    cursor: pointer;
}

.learn-more {
    color: #fff;
}



/* js components - remove classes from page when user clicks chat now */
// .chatbot-content {
//     display: none;
// }

/*********** disable landing page while working ***********/
/*********** disable landing page while working ***********/
/*********** disable landing page while working ***********/
/*********** disable landing page while working ***********/
.landing-page-content {
    // display: none;
}

.chatbot-content {
    display: none;
}


/*********** disable landing page while working ***********/
/*********** disable landing page while working ***********/
/*********** disable landing page while working ***********/
/*********** disable landing page while working ***********/


/* tech stack section card buttons */
.tech-stack .card a {
color: var(--headings);
font-size: 14px;
font-weight: bold;
background-color: var(--button-background);
padding: .5rem 2.25rem;
margin-top: 1rem;
border-radius: 25px;
}



